<section id="about">
    <div class="container">
        <div class="title">
            <h2 class="h2-48l"><span class="color-gold pr30">about</span>theatre</h2>
        </div>
        <div class="about-inner row">
            <div class="col-12 col-sm-7 col-lg-4">
                <p class="p-21b">The best theater in St. Petersburg</p>
                <p class="p-14l">According to archival documents, the first stone building of the Bolshoi Theater began
                    to be erected in 1775 according to the project of Antonio Rinaldi. Later, after Rinaldi fell from
                    the woods and could not personally observe the progress of work, Catherine II commissioned the
                    German theater decorator and architect Ludwig Philip Tischbein to create a new theater project,
                    which was embodied by architects F.W. von Baur and M.A. Dedenev. It was opened in 1783, although,
                    based on other evidence, 1784 can be considered the year of its opening.</p>
            </div>
            <div class="col-12 col-sm-5 col-lg-3">
                <p class="p-21b">about in numbers</p>
                <div>
                    <img src="/img/armchair1.svg" alt="armchair">
                    <p class="p-16b ptb10"><span class="color-gold pr5">1600</span>seats</p>
                </div>
                <div>
                    <img src="/img/theatre1.svg" alt="theatre-icon">
                    <p class="p-16b ptb10"><span class="color-gold pr5">350</span>age of history</p>
                </div>
            </div>
            <div class="about-img-container col-5 col-lg-4">
                <img src="/img/theatre.png" alt="theatre">
            </div>
        </div>
    </div>
</section>
