<div class="burger-container">
    <input type="checkbox" id="scales" name="scales">
    <label for="scales" class="controller"></label>
    <div class="burger-inner">
        <div class="burger-item">
            <a href="#" class="menu-item p-18b">Main</a>
        </div>
        <div class="burger-item">
            <a href="#about" class="menu-item p-18b">About theatre</a>
        </div>
        <div class="burger-item">
            <a href="#performances" class="menu-item p-18b">OUR PERFORMANCES</a>
        </div>
        <div class="burger-item">
            <a href="#meacenas" class="menu-item p-18b">MEACENAS</a>
        </div>
        <div class="burger-item">
            <a href="#partners" class="menu-item p-18b">PARTNERS</a>
        </div>
        <%- include('./icon-group', {className: "fs-50" })%>
    </div>
</div>
