<div class="container">
  <nav class="menu-inner">
      <ul class="menu p-18b">
        <% nav.forEach(elem=> { %> 
          <li class="menu-item">
            <a href=<%=elem.link%> > <%=elem.title%>
            </a>
          </li>
          <% }); %>
      </ul>
      <a href="#" class="menu-phone p-21b">+48 234 567 890</a>
  </nav>
</div>
