<div class="icon-group" >
    <% const social=["youtube", "facebook" , "instagram" , "linkedin" ] %>
        <% social.forEach(elem=> { %> 
            <a class=<%= className %> href="#">
                <i class="bi bi-<%= elem %>"></i>
            </a>
            <% }) %>
</div>