<section id="main">
    <div class="main-wrapper">
    </div>
    <%- include('./burger'); -%> 
    <%- include('./header'); -%>
    <div class="fixed-panel">
        <%- include('./icon-group', {className: 'rotate'})%>
        <hr>
        <p class="p-18b">contacts from social</p>
    </div>
    <div class="container">
        <div class="main-inner ">
            <div class="main-content">
                <div class="left-content">
                    <h1 class="main-title h1-64b">big theatre</h1>
                    <p class="p-14l">Bolshoi Theater - St. Petersburg theater, which existed in 1784-1886, since 1886 - Petersburg Conservatory. The first permanent in St. Petersburg, the largest in Russia and one of the largest theater buildings in Europe XVIII.</p>
                    <button class="btn p-18b">POSTER</button>
                </div> 
                <div class="carousel-container">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/img/post1.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/post2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/post3.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>
