<section id="meacenas">
    <div class="container">
        <div class="title">
            <h2 class="h2-48l"><span class="color-gold">become</span>meacenas</h2>
        </div>
        <div class="meacenas-inner">
            <div class="row">
                <div class="meacenas-contacts col-md-12 col-lg-4">
                    <div>
                        <p class="p-16b">+7 (812) 123-45-55</p>
                        <p class="p-16b">+7 (812) 123-45-55</p>
                    </div>
                    <div>
                        <p class="p-16b">info@theater.ru</p>
                        <p class="p-16b">St. Petersburg, nevsky 140</p>
                    </div>
                </div>
                <div class="meacenas-feedback col-md-12 col-lg-8">
                    <form action="/" method="post">
                        <div class="row">
                            <div class="col-4 color-grey">
                                <input class="meacenas-text-field text-field p-14l" type="text" name="name" id="name"
                                    placeholder="Name" autocomplete="off">
                                <input class="meacenas-text-field text-field p-14l" type="text" name="phone" id="phone"
                                    placeholder="Phone" autocomplete="off">
                            </div>
                            <div class="col-4">
                                <input class="meacenas-text-field text-field p-14l" type="text" name="company"
                                    id="company" placeholder="Company" autocomplete="off">
                                <input class="meacenas-text-field text-field p-14l" type="text" name="mail" id="mail"
                                    placeholder="E-mail" autocomplete="off">
                            </div>
                            <div class="col-4">
                                <textarea class="text-area p-14l" placeholder="Message" name="message" id="message"
                                    cols="30" rows="40" autocomplete="off"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="send-block col-12">
                                <p class="p-14l color-grey">*Your data will not be transferred to third parties, 100%
                                    chance. We guarantee confidentiality and protect personal data in accordance with
                                    the law.</p>
                                <button class="btn btn-meacenas p-18b ">SEND</button>
                            </div>
                        </div>
                    </form>
                    <div class="new-contacts-container hidden">
                        <div class="col-space-between">
                            <p class="p-16b">+7 (812) 123-45-55</p>
                            <p class="p-16b">+7 (812) 123-45-55</p>
                        </div>
                        <div class="col-space-between">
                            <p class="p-16b">info@theater.ru</p>
                            <p class="p-16b">St. Petersburg, nevsky 140</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
