<section id="partners">
    <div class="container">
        <div class="title">
            <h2 class="h2-48l"><span class="color-gold">partners</span>teatre</h2>
        </div>

        <div class="partners-inner">
            <div class="logo-container">
                <% logo.forEach((elem, i) => { %>
                    <img src="/img/partners/<%= elem %>" class="partners-logo"></img>
                    <% if(i === 3 ){ %>
                        <% return %>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</section>