<section id="performances">
    <div class="container">
        <div class="title">
            <h2 class="h2-48l"><span class="color-gold pr30">our</span>performances</h2>
        </div>
    </div>
    <div class="container container-lg">
        <div class="slider-list">
            <div class="slider-field">
                <div class="slider-track">
                    <div class="slider-item"><img src="/img/projects__item1.png" alt="perf"></div>
                    <div class="slider-item"><img src="/img/projects__item2.png" alt="perf"></div>
                    <div class="slider-item"><img src="/img/projects__item3.png" alt="perf"></div>
                    <div class="slider-item"><img src="/img/projects__item4.png" alt="perf"></div>
                </div>
            </div>
        </div>
        <div class="slider-arrows">
            <button class="prev p-18b">&larr;</button>
            <button class="next p-18b">&rarr;</button>
        </div>
    </div>
</section>
