<section id="testimonials">
    <div class="container container-100">
        <div class="test-inner">
            <div class="row justify-content-center">
                <div class="col-3 test-items color-gold">
                    <h1 class="h1-72b">2020</h1>
                    <h1 class="h1-72b">2020</h1>
                    <h1 class="h1-72b">2020</h1>
                </div>
                <div class="col-6 test-items">
                    <p class="p-36b">
                        <span class="color-gold">&#9733;&#9733;&#9733;&#9733;&#9733;</span><br>Theater according to theater critics in Paris
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>